@font-face {
    font-family: roya;
    src: url('../fonts/roya.otf');
}

@font-face {
    font-family: roya;
    src: url('../fonts/roya.ttf');
}


@font-face {
    font-family: royaBold;
    src: url('../fonts/BRoyaBold.ttf');
}